[run]
omit = spotify_app/tests/*
       spotify_app/migrations/*
       spotify_app/apps.py
       spotify_project/*
       manage.py
branch = True

[report]
show_missing = True
skip_covered = True
exclude_lines = def __str__