{% extends 'base.html' %}

{% block content %}
    <div style="margin: auto; width: 85%;"> 
        <div>
        {% for playlist in playlists.values %}
            <div class="card text-white bg-success mb-3" style="width: 18rem; display: inline-block; margin: 3%">
                <a href="{% url 'playlist' playlist.id %}" class="btn btn-warning">
                <img class="card-img-top" src="{{ playlist.images.0.url }}" alt="{{ playlist.description }}">
                </a>
                <div class="card-body">
                    <p class="card-text" style="font-size: small">{{ playlist.description }}</p>
                </div>
            </div>

        {% endfor %}
        </div>
    </div>
{% endblock %}