{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/bar.css' %}">
<link rel="stylesheet" href="{% static 'css/table-style.css' %}">
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
    <script src="{% static 'js/graph.js' %}"></script>
{% endblock %}

{% block content %}

    <h3 style="margin: auto; text-align: center; font-weight: bolder; color: #dddfe2">{{ track.track_artist }} - {{ track.track_name }}</h3><hr>

    <table style="width: 60%; margin: auto" id="data">
        <thead>
            <tr>
                <th>Danceability</th>
                <th>Speechiness</th>
                <th>Acousticness</th>
                <th>Valence</th>
                <th>Instrumentalness</th>
                <th>Energy</th>
                <th>Liveness</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ track.danceability|floatformat:3 }}</td>
                <td>{{ track.speechiness|floatformat:3 }}</td>
                <td>{{ track.acousticness|floatformat:3 }}</td>
                <td>{{ track.valence|floatformat:3 }}</td>
                <td>{{ track.instrumentalness|floatformat:3 }}</td>
                <td>{{ track.energy|floatformat:3 }}</td>
                <td>{{ track.liveness|floatformat:3 }}</td>
            </tr>
        </tbody>
    </table><br>



    <div class="chart" style="width: 50%; margin: auto">
        <h3 style="font-weight: bolder">Chart - track features</h3>
          <table id="data-table" border="1" cellpadding="20" cellspacing="50">
            <thead>
              <tr>
                 <td>&nbsp;</td>
                 <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
            {% for item in chart %}
              <tr>
                 <th scope="row"></th>
                 <td>{{ item }}</td>
                <td></td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
    </div>



{% endblock %}