{% extends 'base.html' %}
{% load static %}
{% block head %}
    <script type="text/javascript" src="{% static 'js/jquery-latest.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.tablesorter.js' %}"></script>
{% endblock %}

{% block content %}

    <table style="width: 100%" class="table table-striped table-dark table-hover tablesorter" id="myTable">
        <thead>
            <tr style="font-size: large">
                <th scope="col">#</th>
                <th>Track</th>
                <th>Danceability</th>
                <th>Speechiness</th>
                <th>Acousticness</th>
                <th>Valence</th>
                <th>Instrumentalness</th>
                <th>Energy</th>
                <th>Liveness</th>
            </tr>
        </thead>
        <tbody>
        {% for track in tracks %}
        <tr>
            <td scope="row">{{ track.id }}</td>
            <td>{{ track }}</td>
            <td>{{ track.danceability }}</td>
            <td>{{ track.speechiness }}</td>
            <td>{{ track.acousticness }}</td>
            <td>{{ track.valence }}</td>
            <td>{{ track.instrumentalness }}</td>
            <td>{{ track.energy }}</td>
            <td>{{ track.liveness }}</td>

        </tr>
        {% endfor %}
        </tbody>
    </table><br><hr><br>

    <div style="font-size: 11px; color: white; width: 90%; margin: auto">
            <h6><strong>Danceability</strong></h6>
        <p>Danceability describes how suitable a track is for dancing based on a combination of musical
            elements including tempo, rhythm stability, beat strength, and overall regularity.
            A value of 0.0 is least danceable and 1.0 is most danceable.</p>

            <h6><strong>Speechiness</strong></h6>
        <p>Speechiness detects the presence of spoken words in a track. The more exclusively speech-like
            the recording (e.g. talk show, audio book, poetry), the closer to 1.0 the attribute value.
            Values above 0.66 describe tracks that are probably made entirely of spoken words.
            Values between 0.33 and 0.66 describe tracks that may contain both music and speech,
            either in sections or layered, including such cases as rap music. Values below 0.33 most
            likely represent music and other non-speech-like tracks.</p>

            <h6><strong>Acousticness</strong></h6>
        <p>A confidence measure from 0.0 to 1.0 of whether the track is acoustic. 1.0 represents high
            confidence the track is acoustic.</p>

            <h6><strong>Valence</strong></h6>
        <p>A measure from 0.0 to 1.0 describing the musical positiveness conveyed by a track.
            Tracks with high valence sound more positive (e.g. happy, cheerful, euphoric), while tracks
            with low valence sound more negative (e.g. sad, depressed, angry).</p>

            <h6><strong>Instrumentalness</strong></h6>
        <p>Predicts whether a track contains no vocals. “Ooh” and “aah” sounds are treated as instrumental
            in this context. Rap or spoken word tracks are clearly “vocal”. The closer the instrumentalness
            value is to 1.0, the greater likelihood the track contains no vocal content. Values above 0.5
            are intended to represent instrumental tracks, but confidence is higher as the value approaches 1.0.</p>

            <h6><strong>Energy</strong></h6>
        <p>Energy is a measure from 0.0 to 1.0 and represents a perceptual measure of intensity and activity.
            Typically, energetic tracks feel fast, loud, and noisy. For example, death metal has high energy,
            while a Bach prelude scores low on the scale. Perceptual features contributing to this attribute
            include dynamic range, perceived loudness, timbre, onset rate, and general entropy.</p>

            <h6><strong>Liveness</strong></h6>
        <p>Detects the presence of an audience in the recording. Higher liveness values represent an
            increased probability that the track was performed live. A value above 0.8 provides strong
            likelihood that the track is live.</p>
    </div>

    <script>
        $(document).ready(function()
            {
            $("#myTable").tablesorter();
            }
        );
    </script>
{% endblock %}